body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 800;
    line-height: 2;
    color: #212529;
    text-align: left;
}

.main-content {
    max-width: 47rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
    font-size: 1.2rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}

.form-check-label {
    font-size: 0.75rem;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 3px solid gray;          
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: green;
}

input[type="radio"]:checked {
  border-color:green;
}

@media (min-width: 500px) {
  input[type="date"] {
  appearance: none; /* Remove default browser styling */
  -webkit-appearance: none; /* For Webkit-based browsers */
  -moz-appearance: none; /* For Mozilla-based browsers */
  width: 20.6rem;
  }
}

.checkbox label {
  margin-bottom: 20px !important;
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
    color: #819198;
}



